body {
  font-family: 'Courier New', monospace;
  background-color: #121212;
  color: #c7f784;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1c1c1c;
  color: #c7f784;
  padding: 30px 20px;
  text-align: center;
  border-bottom: 2px solid #3fff68;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  color: #90ee90;
  font-size: 1.4em;
  margin-top: 30px;
  border-bottom: 1px dashed #3fff68;
  padding-bottom: 5px;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
}

p {
  margin-top: 40px;
  margin-bottom: 80px;
  font-weight: bold; 
  font-size: 1.5rem;
}

table {
  margin-top: 40px;
  margin-bottom: 80px; 
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2;
  font-size: 1.5rem;

}

li{

  padding: 0;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: bold; 
}

ul li {
  padding: 8px 0;
  margin-bottom: 2px;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: bold; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #3fff68;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1e1e1e;
  color: #aaffaa;
}

tr:nth-child(even) {
  background-color: #191919;
}

footer {
  background-color: #1c1c1c;
  color: #c7f784;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #3fff68;
}